@import "../assets/variables";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(30px);
  z-index: 1;
  .button {
    background-color: $white;
    border: none;
    border-radius: rem(4px);
    padding: rem(15px) rem(32px);
    margin-left: rem(20px);
    user-select: none;
    &:hover {
      cursor: pointer;
      background-color: darken($white, 9%);
    }
  }
}
