@import "assets/variables";
@import "assets/normalize";

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: rem(10px);
    &-card {
      width: rem(120px);
      height: rem(120px);
      background: $white;
      border-radius: rem(8px);
      font-size: rem(75px);
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      transition: transform 0.3s ease;
      &:hover {
        cursor: pointer;
        background-color: darken($white, 9%);
      }
      &.flipped {
        background-color: $special;
        transform: rotateY(180deg);
        cursor: default;
      }
      &.done {
        display: none;
      }
    }
  }
}
