@import "assets/variables";
@import "assets/normalize";

@import "components/all";

.app-wrapper {
  width: 100%;
  height: 100vh;
  min-width: rem(590px);
  min-height: rem(550px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
